
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#company" data-bs-toggle="collapse" href="#">
            <i class="bi bi-person"></i><span>Companies</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="company" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="/companies/add">
                <i class="bi bi-circle"></i><span>Add New Company</span>
              </a>
            </li>
            <li>
              <a href="/companies/list">
                <i class="bi bi-circle"></i><span>All Companies</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#visa" data-bs-toggle="collapse" href="#">
            <i class="bi bi-person"></i><span>Visa</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="visa" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="/visa/add">
                <i class="bi bi-circle"></i><span>Add New Visa</span>
              </a>
            </li>
            <li>
              <a href="/visa/list">
                <i class="bi bi-circle"></i><span>All Visa</span>
              </a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-person"></i><span>Pages</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="/pages/add">
                <i class="bi bi-circle"></i><span>Add New Page</span>
              </a>
            </li>
            <li>
              <a href="/pages/list">
                <i class="bi bi-circle"></i><span>All Pages</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link collapsed" data-bs-target="#blogs" data-bs-toggle="collapse" href="#">
            <i class="bi bi-person"></i><span>Blogs</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="blogs" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="/blogs/add">
                <i class="bi bi-circle"></i><span>Add New Blog</span>
              </a>
            </li>
            <li>
              <a href="/blogs/list">
                <i class="bi bi-circle"></i><span>All Blogs</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Icons Nav -->
        <!-- End Dashboard Nav -->

        <!-- <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#forms-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-text"></i><span>Company</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="forms-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="company_list">
                <i class="bi bi-circle"></i><span>Company Listing</span>
              </a>
            </li>
            <li>
              <a href="company_add">
                <i class="bi bi-circle"></i><span>Add Company</span>
              </a>
            </li>
          </ul>
        </li> -->
        <!-- End Forms Nav -->

        <!-- <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#tables-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>Visa</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="tables-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="visa-list">
                <i class="bi bi-circle"></i><span>Visa Listing</span>
              </a>
            </li>
            <li>
              <a href="VisaRegistration">
                <i class="bi bi-circle"></i><span>Add Visa</span>
              </a>
            </li>
            <li>
              <a href="visa-add-permission">
                <i class="bi bi-circle"></i><span>Add Visa Permission</span>
              </a>
            </li>
          </ul>
        </li> -->

        <!-- End Visa Nav -->

        <!-- <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#charts-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-bar-chart"></i><span>Candidate </span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="charts-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="candidate-list.html">
                <i class="bi bi-circle"></i><span>Candidate Listing</span>
              </a>
            </li>
            <li>
              <a href="candidate-add">
                <i class="bi bi-circle"></i><span>Add Candidate</span>
              </a>
            </li>
          </ul>
        </li> -->

        <!-- End Candidate Nav -->

        <li class="nav-heading">Actions</li>

        <!-- <li class="nav-item">
          <a class="nav-link collapsed" href="/users-profile">
            <i class="bi bi-person"></i>
            <span>Profiles</span>
          </a>
        </li> -->
        <!-- End Profile Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/Registration">
            <i class="bi bi-card-list"></i>
            <span>Register</span>
          </a>
        </li>
        <!-- End Register Page Nav -->

        <!-- <li class="nav-item">
          <a class="nav-link collapsed" href="/login">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="/logout">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
          </a>
        </li>
        <!-- End Login Page Nav -->
      </ul>
    </aside>
   